/* Carousel Styling */
#image-banner {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    width: 100%;
    height: auto;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 10px;
    transform: translateY(-50%);
}

.next {
    right: 10px;
    transform: translateY(-50%);
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Gallery styles */
#single-family-projects {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 4 columns if screen is wide enough */
    gap: 20px;
    padding-top: 20px;
}

.gallery-item {
    border: 1px solid #ddd;
    overflow: hidden;
    
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

/* Footer styles */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}